:root {
  --bg: #f8fafc;
  --card: #ffffff;

  --primary: #2563eb;
  --primary-hover: #1d4ed8;

  --danger: #ef4444;
  --danger-hover: #dc2626;

  --border: #e5e7eb;
  --text: #0f172a;
  --muted: #64748b;

  --radius: 14px;
  --radius-sm: 8px;

  --shadow-sm: 0 4px 12px rgba(0,0,0,0.04);
  --shadow: 0 12px 30px rgba(0,0,0,0.06);
}